body{
    margin: 0;
}

a:focus{
    border: 2px solid #083A5D;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    position: absolute;
    top: 6px;
    left: 70px;
    font-weight: 700;
}

h3{
    margin-top: 0px;
    margin-bottom:1px;
    font-weight: 500px;
}

h4, span{ 
    margin: 0;
    font-weight: 400;
    color: #373A3C;
}

.texto_ingredientes{ 
    margin:0;
    padding-top: 5px;
    font-size: 12px;
    color: #373A3C;
    padding-left: 10px;
    line-height: 14px;

}

.titulo_receta{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #676767;
    margin-left: 10px;

}

.texto_h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:#676767;
    width: 80%;
    position: absolute;
    left: 30px;
    top: 140px;
}

.label_buscador{ 
    color: white;
}

.boton_buscador{
    position: absolute;
    top: 80px;
    width: 40px;
    height: 41px;
    left: 304px;
    background-color:#083A5D;
    border: 2px solid #083A5D;
    box-shadow: 0px 1px 4px  #858585;
    padding-left: 5px;
}

.boton_buscador:focus{
    border: 2px solid white;
}


.icono_buscador{
    width: 28px;
}

#buscador{
    width: 80%;
    padding-top: 12px;
    padding-bottom: 9.5px;
    padding-left: 15px;
    padding-right: 15px;

    box-sizing: border-box;
    border: 2px solid #858585;
    border-radius: 4px;
    box-shadow: 0px 1px 4px #858585;
    position: absolute;
    top: 80px;
    left: 18px;

}

#buscador:focus{
    border: 2px solid #083A5D;
}



.link_recetas{
    text-decoration: none;
    color: #373A3C;
}

.barra_superior{
    position: fixed;
    width: 100%;
    height: 65px;
    background-color: #083A5D;
    box-shadow: 0px 2px 4px rgba(180, 172, 172, 0.25);
    z-index: 1;
}

.boton_volver{
    width: 20px;
}

.div_boton_volver{
    position: absolute;
    top: 22px;
    left: 20px;
    z-index: 4;
}

.a_boton_volver{ 
    padding: 7px;
}

.a_boton_volver{ 
padding-top: 9px;
padding-bottom: 1px;
padding-right: 3px;
padding-left: 3px;
border-radius: 5px;
}

.a_boton_volver:focus{
    border: 2px solid white;
}

.lista_recetas{
    list-style-type: none;
    position: absolute;
    top: 185px;
    padding-left: 30px;
    margin: 0;
    padding-left: 15px;
}

.item_recetas1{
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-top:  1px solid rgba(139, 139, 139, 0.459); 
    border-bottom: 1px solid rgb(139, 139, 139, 0.459);
    background-color: #F9F9F9;
    font-family: 'Roboto', sans-serif;
    color: #373A3C;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    
}

.item_recetas2{
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: #373A3C;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.div_lista1{
    display: flex;
    flex-direction: column;
}

.div_lista_recetas{
    height: 760px;
}

.foto_receta{
    width: 100px;
    height: 76.11px;
    border-radius: 5px;
    padding-top: 0px;
}
a {
    text-decoration: none;
}





/* NAVBAR MENU*/
.menu{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    background-color: white;
    z-index: 3;
}

.lista_menu {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%
}    

.items_menu{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    justify-items: center;
    width: 90%;
}

.link_menu{ 
    text-decoration: none;
    color: #6A6A6A;
}
.icono_menu{
    height: 20px;
}

.texto_menu{
    margin-top: 3px;
}

.texto_menu_seleccionado{
    margin-top: 3px;
    border-bottom: 3px solid #083A5D;
    width: 57px;
    margin-left: 17px;
    font-weight: 600;
    color: #083A5D; 
} 